<h1>{{ title }}</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
    <div class="input-field col s6">
        <input name="title" id="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field col s6">
        <input name="price" id="price" type="number" class="validate" required value="{{data.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>
    <div class="input-field col s6">
        <input name="img" id="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>

    <button type="submit" class="btn btn-primary">Добавить курс</button>
</form>